<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/head :: head"></head>
<header class="header">
    <div class="wideHeader">
        <div class="headerLeft logo">
            <h1>U-Grow</h1>
        </div>
        <div class="headerRight" th:if="${sessionOn} == true">
            <ul>
                <li><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
        <div class="headerRight" th:if="${sessionOn} == false">
            <ul>
                <li><a th:href="@{/login}">Login</a></li>
                <li><a th:href="@{/register}">Register</a></li>
            </ul>
        </div>
    </div>
    <div class="subtext">
        <h3>Grow the plants, fruits, and vegetables of your DREAMS.
        </h3>
        <p>Human-curated calendars and guides.</p>
        <p>Auto-Magically at your green-thumb.</p>
    </div>
    <div class="loginForm">
        <form method="post" th:object="${loginForm}">
            <div>
                <h2>Login</h2>
            </div>
            <div class="form-group">
                <label th:for="username">Username</label>
                <input type="text" th:field="*{username}" class="form-control" rows="2" placeholder="Username*"></input>
                <p th:errors="*{username}" class="error"></p>
                <p th:text="${usernameError}" class="error"></p>
            </div>

            <div class="form-group">
                <label th:for="password">Password</label>
                <input type="password" th:field="*{password}" class="form-control" rows="2" placeholder="Password*"></input>
                <p th:errors="*{password}" class="error"></p>
            </div>
            <div class="lower">
                <input type="submit" value="Login"></input>
            </div>
        </form>
    </div>
</header>
<body>
</body>
<script type="text/javascript" src="../../js/scripts.js"></script>
</html>