<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <h1>Login to U-Grow</h1>

    <p>If you don't have an account, you may <a href="/register">register</a> for one</p>
    <tr></tr>
    <form method="post" style="max-width:600px;" th:object="${loginForm}">
        <div class="form-group">
            <label th:for="username">Enter Username</label>
            <input th:field="*{username}" />
            <p th:errors="*{username}" class="error"></p>
            <span th:text="${usernameError}" class="error"></span>
        </div>

        <div class="form-group">
            <label th:for="password">Password</label>
            <input type="password" th:field="*{password}" />
            <p th:errors="*{password}" class="error"></p>
        </div>
        <input type="submit" value="Login" />
    </form>



</div>

</body>
</html>