* {
    box-sizing: border-box;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
}
header {
    display: grid;
    grid-template-areas: 'headerLeft headerRight';
    grid-gap: 5px;
}
.headerLeft {
    grid-area: headerLeft;
}
.headerRight {
    grid-area: headerRight;
    align-self: center;
    justify-self: end;
}
.loginForm {
    display: grid;
    grid-template-areas: 'form'
    grid-gap: 5px;
}
.registrationForm {
    display: grid;
    grid-template-areas: 'form'
    grid-gap: 5px;
}
form {
    grid-area: form;
}
button {
	background-color: #008DD5;
	border: none;
	padding: .5em 3em;
	color: #fff;
}
button.btn.btn-default.button1 h3 {

}