<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">
    <title>U-Grow</title>
    <link rel="stylesheet" href="../../css/styles.css" />
</head>

<body>

    <article th:fragment="page-header">
        <div>
            <div th:if="${sessionOn} == true">
                <ul>
                    <li><a th:href="@{/logout}">Logout</a></li>
                </ul>
            </div>
            <div th:if="${sessionOn} == false">
                <ul>
                    <li><a th:href="@{/login}">Login</a></li>
                </ul>
            </div>
        </div>
    </article>

</body>
    <script type="text/javascript" src="../../js/scripts.js"></script>
</html>