<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">
    <title>U-Grow</title>
    <link rel="stylesheet" href="../../css/styles.css" />
</head>

<body>
    <header th:fragment="header">
        <div class="headerLeft">
            <h1>U-Grow</h1>
        </div>
        <div class="headerRight" th:if="${sessionOn} == true">
            <ul>
                <li><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
        <div class="headerRight" th:if="${sessionOn} == false">
            <ul>
                <li><a th:href="@{/login}">Login</a></li>
            </ul>
        </div>
    </header>
</body>
    <script type="text/javascript" src="../../js/scripts.js"></script>
</html>