<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/head :: head"></head>
<body>
<header class="wideHeader">
    <div class="headerLeft">
        <h1>U-Grow</h1>
    </div>
    <div class="headerRight" th:if="${sessionOn} == true">
        <ul>
            <li><a class="homepageLogoutLink" th:href="@{/logout}">Logout</a></li>
        </ul>
    </div>
</header>

<section>
    <h2>Welcome <span th:text="${username}"></span>!</h2>

    <h2>What would you like to plant?</h2>
    <select id="plant_selector">
        <option value="none"></option>
        <option value="1">Potatoes</option>
        <option value="2">Tomatoes</option>
    </select>


    <div>
        <h2>Guides</h2>
        <h2><a id='todoadd' th:href="@{/todo/add}">Add Todo</a></h2>
    </div>
</section>
<article>
    <h2>Calendar</h2>
    <div id='calendar'></div>
</article>
</body>
</html>