<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/head :: head"></head>
<body>
<header class="wideHeader">
    <div class="headerLeft">
        <h1>U-Grow</h1>
    </div>
    <div class="headerRight" th:if="${sessionOn} == true">
        <ul>
            <li><a th:href="@{/logout}">Logout</a></li>
        </ul>
    </div>
    <div class="headerRight" th:if="${sessionOn} == false">
        <ul>
            <li><a th:href="@{/login}">Login</a></li>
            <li><a th:href="@{/register}">Register</a></li>
        </ul>
    </div>
</header>

<section>
    <h2>Welcome <span th:text="${username}"></span>!</h2>
    <div class ="tried-section">
        <section class="sidebar">
            <h2>What would you like to plant today?</h2>
                <ul>
                    <li th:each="plant : ${plants}" th:href="@{?id=} + ${plant.id}" th:text="${#strings.capitalizeWords(plant.name)}" class="Link" value="Show Table" onclick="showTable()"></li>
                </ul>
        </section>
    </div>
    <div>
        <h2>Guides</h2>

        <!--<table id="todoTable" th:replace="list-todos :: single-todo">
        </table>-->
    </div>
</section>
<article>
    <h2>Calendar</h2>
    <div id='calendar'></div>
</article>
</body>
</html>